#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: #ffc800;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#backToTopBtn:hover {
    background-color: #ffb300;
    transform: scale(1.18);
}
