<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Yushahu Yussif Azara">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Portfolio - BMP Studio</title>
        {% load static %}
        <link rel="icon" href="{% static 'images/bmpstudio_web_icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">
    </head>
    <body>
        <header>
            <div class="header_container"> <!-- Nav container -->
                <a href="{% url 'index' %}" class="background_link">
                    <img src="{% static 'images/bmplogo_black_stacked.png' %}" alt="Home">
                </a>
                <nav class="nav_items" id="navItemsMenu">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'portfolio' %}" class="active">Portfolio</a>
                    <a href="{% url 'videos' %}">Videos</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'contact' %}">Contact</a>
                    <a href="{% url 'blogs' %}">Blogs</a>
                </nav>
                <div class="menu-btn" id="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </header>
        <h1>Commercial & Personal Works</h1>
        <nav class="nav_items_p" id="portfolio_nav">
            <a href="{% url 'portfolio' %}" class="active">All</a>
            {% for category in categories %}
                <a href="{% url 'portfolio_by_category' category.id %}">{{ category.name }}</a>
            {% endfor %}
        </nav>
        {% for category in categories %}
            <h3>{{ category.description }}</h3>
        {% endfor %}
        <div>
            {% for image in images %}
                <div>
                    <img src="{{ image.url }}" alt="{{ image.title }}">
                </div>
            {% empty %}
                <p>No images available</p>
            {% endfor %}
        </div>
        <footer>
            <div class="footer_container">
                <div class="socials">
                    <a href="" title="Location">
                        <img src="{% static 'images/socials/marker.svg' %}" alt="Route">
                    </a>
                    <a href="mailto:" title="Email">
                        <img src="{% static 'images/socials/envelope.svg' %}" alt="Email us">
                    </a>
                    <a href="" title="YouTube">
                        <img src="{% static 'images/socials/youtube.svg' %}" alt="Watch us">
                    </a>
                    <a href="" title="Facebook">
                        <img src="{% static 'images/socials/facebook.svg' %}" alt="Connect with us">
                    </a>
                    <a href="" title="Instagram">
                        <img src="{% static 'images/socials/instagram.svg' %}" alt="View images on the gram">
                    </a>
                </div>
                <div class="footer-text">
                    <p>&copy; BMP Studio &ndash; 2024. All rights reserved.</p>
                </div>
            </div>
        </footer>
        <script src="{% static 'script/script.js' %}"></script>
    </body>
</html>
