# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# some django stuff
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# production secrets
.env

# django migrations
**/migrations/

# personal script-helpers
*.sh

# google cloud service account json file
config/nearest-252012-37a553e580f9.json
