<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Yushahu Yussif Azara">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Videos - BMP Studio</title>
        {% load static %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"/>
        <link rel="icon" href="{% static 'images/bmpstudio_web_icon.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'common.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'header.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'footer.css' %}">
    </head>
    <body>
        <header>
            <div class="header_container"> <!-- Nav container -->
                <a href="{% url 'index' %}" class="background_link">
                    <img src="{% static 'images/bmplogo_black_stacked.png' %}" alt="Home">
                </a>
                <nav class="nav_items" id="navItemsMenu">
                    <a href="{% url 'index' %}">Home</a>
                    <a href="{% url 'portfolio' %}">Portfolio</a>
                    <a href="{% url 'videos' %}" class="active">Videos</a>
                    <a href="{% url 'about' %}">About</a>
                    <a href="{% url 'contact' %}">Contact</a>
                    <a href="{% url 'blogs' %}">Blogs</a>
                </nav>

                <!-- Right side: Menu button (for mobile view or login/signup) -->
                <div class="auth_buttons" id="authButtons">
                    <form action="{% url 'login' %}" method="post" style="display: inline;">
                        {% csrf_token %} <!-- Include for POST resquests in Django -->
                        <button type="submit" class="btn">Login</button>
                    </form>
                    <form action="{% url 'register' %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn">SignUp</button>
                    </form>
                </div>

                <div class="menu-btn" id="menuBtn">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </header>
        <h1>Videos</h1>
            <div class="video-grid">
                {% for video in videos %}
                    <div class="video-item">
                        <a href="{{ video.video.url }}" data-fancybox="gallery" data-caption="{{ video.description }}">
                            {% if video.thumbnail_small %}
                                <img src="{{ video.thumbnail_small.url }}" alt="{{ video.title }}">
                            {% else %}
                                <div class="video-placeholder">{{ video.title }}</div>
                            {% endif %}
                        </a>
                    </div>
                {% empty %}
                    <p>No video available</p>
                {% endfor %}
            </div>
        <footer>
            <div class="footer_container">
                <div class="socials">
                    <a href="" title="Location">
                        <img src="{% static 'images/socials/marker.svg' %}" alt="Route">
                    </a>
                    <a href="mailto:" title="Email">
                        <img src="{% static 'images/socials/envelope.svg' %}" alt="Email us">
                    </a>
                    <a href="" title="YouTube">
                        <img src="{% static 'images/socials/youtube.svg' %}" alt="Watch us">
                    </a>
                    <a href="" title="Facebook">
                        <img src="{% static 'images/socials/facebook.svg' %}" alt="Connect with us">
                    </a>
                    <a href="" title="Instagram">
                        <img src="{% static 'images/socials/instagram.svg' %}" alt="View images on the gram">
                    </a>
                </div>
                <div class="footer-text">
                    <p>&copy; BMP Studio &ndash; 2024. All rights reserved.</p>
                </div>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
        <script src="{% static 'script/script.js' %}"></script>
    </body>
</html>
